git+git://github.com/suzanpradhan/mongo-python-driver@master
git+git://github.com/suzanpradhan/djongo@master
dnspython==2.0.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.4.0
Pillow
gunicorn
